<?xml version="1.0" encoding="UTF-8"?>
<Export generator="Cache" version="25">
  <Document name="dc-withlove.ZPM">
    <Module>
      <Name>dc-withlove</Name>
      <Version>0.0.2</Version>
      <Description></Description>
      <Packaging>module</Packaging>
      <SourcesRoot>src</SourcesRoot>
      <Resource Name="dc.withLove.PKG"/>
    </Module>
  </Document>
</Export>
